<!--
  <app-pagination
    [pagination]="(contacts$ | async)?.pagination"
    (openLink)="loadList($event)"
    (paginate)="loadPage($event)"
  ></app-pagination>
-->

<div *ngIf="(data$ | async) as data">
  <!--
    <app-link
      type="create"
      [links]="contacts.links"
      (open)="launchDetails($event)"
    ></app-link>
  -->

  <div
    *ngFor="let contact of data.contacts"
    [title]="contact | json"
    [routerLink]="[
      '',
      'contacts',
      contact.contact.id,
      contact.contact.firstName + '-' + contact.contact.lastName
    ]"
  >
    {{ contact.contact.firstName }} {{ contact.contact.lastName }}
    {{ contact.contact.email }}
  </div>
</div>
