<h1 class="title">Contacts</h1>
<p class="subtitle">We improve our <strong>APIs</strong> all the time!</p>

<ng-container *ngIf="(list$ | async) as data">
  <div class="columns">
    <div class="column">
      <app-pagination [pagination]="data.pagination"></app-pagination>
    </div>
    <div class="column"></div>
  </div>
  <div class="columns">
    <div class="column">
      <nav class="panel">
        <p class="panel-heading">Contacts</p>

        <div class="panel-block">
          <button
            link
            linkRel="create"
            [linkItems]="data.links"
            (open)="create()"
            class="button is-link is-outlined is-fullwidth"
          >
            Create contact
          </button>
        </div>

        <a
          class="panel-block has-icons-right"
          [link]
          linkRel="self"
          [linkItems]="item.links"
          (open)="open(item.contact)"
          *ngFor="let item of data.contacts"
        >
          <span class="panel-icon">
            <i class="fas fa-user" aria-hidden="true"></i>
          </span>

          <span class="is-right">
            <a
              class="panel-icon"
              [link]
              linkRel="update"
              [linkItems]="item.links"
              (open)="edit(item.contact)"
            >
              <i class="fas fa-edit"></i>
            </a>
            <a
              class="panel-icon"
              [link]
              linkRel="remove"
              [linkItems]="item.links"
              (open)="delete(item.contact)"
            >
              <i class="fas fa-trash"></i>
            </a>
          </span>

          {{ item.contact.firstName }} {{ item.contact.lastName }}
        </a>
      </nav>
    </div>
    <div class="column"><router-outlet></router-outlet></div>
  </div>
</ng-container>
