<ng-container *ngIf="pagination">
  <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
    <a
      class="pagination-previous"
      [class.disabled]="!hasPrevious"
      (click)="page = pagination.page - 1"
    >
      Previous
    </a>

    <a
      class="pagination-next"
      [class.disabled]="!hasNext"
      (click)="page = pagination.page + 1"
      >Next</a
    >

    <ul class="pagination-list">
      <li *ngFor="let p of pages">
        <a
          class="pagination-link"
          [class.disabled]="p === pagination.page"
          (click)="page = p"
          >{{ p }}</a
        >
      </li>
    </ul>
  </nav>
</ng-container>
