<ng-container *ngIf="pagination">
  <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
    <a
      class="pagination-previous"
      [class.disabled]="!hasPrevious"
      (click)="openPage(pagination.page - 1)"
    >
      Previous
    </a>

    <a
      class="pagination-next"
      [class.disabled]="!hasNext"
      (click)="openPage(pagination.page + 1)"
      >Next</a
    >

    <ul class="pagination-list">
      <li *ngFor="let page of pages">
        <a
          class="pagination-link"
          [class.disabled]="page === pagination.page"
          (click)="openPage(page)"
          >{{ page }}</a
        >
      </li>
    </ul>
  </nav>
</ng-container>
