<div class="card">
  <form #detailForm="ngForm" (submit)="save(detailForm)">
    <ng-container>
      <div class="card-image" [class.collapse]="!isReadonly">
        <figure class="image is-4by3">
          <img
            [src]="'https://loremflickr.com/daily/g/320/240/girl?' + contact.id"
            alt="Placeholder image"
          />
        </figure>
      </div>

      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                [src]="
                  'https://loremflickr.com/daily/g/320/240/girl?' + contact.id
                "
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">
              {{ contact.firstName }} {{ contact.lastName }}
            </p>
            <p class="subtitle is-6">{{ contact.email }}</p>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="card-content" *ngIf="isEditable || isCreate">
      <input type="hidden" name="id" [(ngModel)]="contact.id" />
      <div
        class="field"
        *ngFor="let field of ['firstName', 'lastName', 'email']"
      >
        <label class="label">{{ field }}</label>
        <div class="control" [class.has-icons-left]="field === 'email'">
          <input
            class="input"
            type="text"
            required
            placeholder="Text input"
            [name]="field"
            [(ngModel)]="contact[field]"
          />

          <span *ngIf="field === 'email'" class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
    </div>

    <footer class="card-footer">
      <ng-container *ngIf="isReadonly">
        <a class="card-footer-item" (click)="cancel()">Cancel</a>
        <a
          link
          linkRel="update"
          class="card-footer-item"
          [linkItems]="links"
          (open)="edit(contact)"
          >Edit</a
        >

        <a
          class="card-footer-item"
          link
          linkRel="remove"
          [linkItems]="links"
          (open)="remove(contact)"
          >Delete</a
        >
      </ng-container>

      <ng-container *ngIf="isEditable">
        <a class="card-footer-item" (click)="cancelEdit(contact)">Cancel</a>
        <a class="card-footer-item" (click)="save(detailForm)">save</a>
      </ng-container>

      <ng-container *ngIf="isCreate">
        <a class="card-footer-item" (click)="cancel()">Cancel</a>
        <a class="card-footer-item" (click)="save(detailForm)">save</a>
      </ng-container>
    </footer>
  </form>
</div>
